body {
    margin: 0;
}
.wd-page-container {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-right: 25px;
    background: black;
}

.wd-left-bar {
    width: 100px;
}

.wd-content {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
    flex: 1;
}

.wd-search-area {
    width: auto;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.wd-search-bar {
    width: 800px;
    border-radius: 40px;
    background: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    border: 0;
    color: white;
}

.wd-gear-style {
    color: dodgerblue;
    text-decoration: none;
    font-size: 40px;
}

.wd-nav-bar {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    color: darkgrey;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
}

.wd-nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.wd-nav-bar .wd-selected {
    color: rgb(29, 161, 242);
}

.wd-nav-item-border {
    background-color: rgb(29, 161, 242);
    border-radius: 40px;
    height: 4px;
    width: 100%;
    margin-top: 16px;
    box-sizing: border-box;
}

.wd-divider {
    border-width: 4px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    background: rgba(27,27,27,0.8)
}

h1 {
    color: white;
    font-size: 15px;
    margin-top: .5em;
    margin-bottom: .5em;
}

h3 {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.wd-tuit-bottom-border {
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-tuit {
    padding: 16px;
    overflow: hidden;
}

.wd-tuit-text {
    float: left;
    width: calc(100% - 200px);
}

.wd-tuit-author {
    color: white;
    font-weight: bold;
}

.wd-tuit-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    float: right;
}

.wd-bottom-placeholder{
    height: 15px;
    width: 100%;
}